version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: carebridge_app
    ports:
      - "3001:3000"
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432/carebridge
      REDIS_URL: redis://redis:6379
    depends_on:
      - db
      - redis
    networks:
      - localnet

  db:
    image: postgres:15-alpine
    container_name: carebridge_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: carebridge
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - localnet

  redis:
    image: redis:7-alpine
    container_name: carebridge_redis
    ports:
      - "6379:6379"
    networks:
      - localnet

networks:
  localnet:
    driver: bridge

volumes:
  db_data:
